.cards-section {
    background-color: transparent;
    margin: 1em;
    margin-top: 7em; /*to not clash with navbar as it doesnt take up section space*/

}

.cards-container {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    text-align: center;
    
}
.cards-title {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*center the grid to its parent container*/
    align-items: center;
    gap: 20px; /* Space between cards */
}

.card-item {
    position: relative;
    height: 300px; 
    width: 400px;
    background-size: cover;
    background-position: center;
    border: 1px solid #ddd; /* Light border for separation */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow */
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}






.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Translucent background */
    color: #fff; /* White text for contrast */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
}



.card-title {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.card-description {
    font-size: 1em;
    text-align: center;
}

.card-subtext {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); /* Translucent background for subtext */
    color: #fff;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 0.9em;
    transition: opacity 0.3s ease;
}




/*hover feature only on desktop*/
@media screen and (min-width: 670px){
    .card-item:hover .card-overlay {
    opacity: 1; /* Show overlay on hover */
}
    .card-item:hover .card-subtext {
    opacity: 0; /* Hide subtext on hover */
}
.card-item:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Enhanced shadow on hover */
}
}

/* on phones and smaller screens 3 columns -2 --> smaller 2 */
@media screen and (max-width: 970px ) {
    .cards-container{
        width:100%;
    }
    .card-item{
    height:220px;
    width:300px;
   }

}

  /*another option 4 to 2 cards but would stretch image (replace 0px by 1200px to work)*/
 @media screen and (max-width: 0px){  
    .cards-grid {
        gap: 10px; /* Reduce gap between cards */
    }
    .card-item {
        flex: 1 1 calc(100% - 20px); /* 2 cards per row */
        max-width: calc(50% - 20px); /* 2 cards per row */
    }

    .cards-title {
        font-size: 2em; 
    }

    .card-title {
        font-size: 1.5em; 
    }

    .card-description {
        font-size: 0.9em;
    }

    .card-subtext {
        font-size: 0.8em; 
        padding: 8px; 
    }
  }
  

  @media screen and (max-width: 670px) {
    .cards-container{
        width:100%;
    }
   .card-item{
    height:200px;
    width:300px;
   }
  }
