/* certification sub-page */
p a {
  text-decoration: none;
  color: inherit; 
}

p a:hover {
    color:var(--navy_color)
}
.certificates{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
.certificate{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-end;

    padding:2em;
}
.certificate-text-container{
    background-color: aliceblue;

    height:15em;
    flex:0 0 50%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    padding:2em;
}

.certificate-img-container{
    flex:0 0 50%;
    display: flex;
    justify-content: center;
    max-width: 30em;
}
.certificate-img-container img{
    object-fit: cover;
    width:100%;
    height:auto
}