.footer-container{
      background-color:var(--hover_color);
      display: flex;
      flex-direction: column;
      align-items: center;
        padding: 4em;
    padding-top: 4em;
    padding-left:20px;

}
.footer {
    width:80vw;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--navy_color);
    text-align: center;
    position: relative;
  
    gap:40px;
}
.footer-content{
  font-size:larger;
  display: flex;
  flex-direction: row;
  flex:0 0 80%;
  justify-content: flex-end;
  gap:10vw;
  max-width:100vw;


}
.contact{
  gap:10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}
.footer-links{
  display: flex;
  flex-direction: row;
  gap:10vw;
  text-align: left;
}
.footer-links div{
    gap:10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer ul{
  gap:3px;
  padding:0;  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  
}
.footer a{
  text-decoration: none;
  color:inherit;

}
.footer a:hover{
  color:var(--background_color);
   transition: linear;

}
.footer-bottom{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex:0 0 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.footer h4{
  font-size:1.1em;
}
@media screen and (max-width:1200px) {
  .footer{
    justify-content: center;
  }
  .bottom-logo{
    flex:0 0 100%;
    display: flex;
    justify-content: flex-start;
  }
  .footer-content{
    flex-wrap:wrap;
    justify-content: flex-start;
  }

  .footer-links{
    flex-wrap:wrap;
    flex:0 0 100%;
  }

}  


