.footer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background-color:grey;
    color: white;
    text-align: center;
    position: relative;
    padding:20px;
}

.bottom-logo{
  margin-left:0cm;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

