

html{
    scroll-behavior: smooth;
    scrollbar-color:var(--navy_color) var(--background_color);
    width:100%;

}
body{
  width:100vw;
    overflow-x: hidden;

}
:root{
  --navy_color:#394974;
  --blue:#a9bbc8;/*9dadb9*/
  --blue-dark:#9dadb9;
  --navy-dark: #0D1321;    /* new deep navy for footer/navbar */

  --hover_color:rgb(143, 142, 142);
  --accent:#d2934c;
  --background_color:rgb(181, 181, 181);
  --beige:beige;
  --white:#f2f2eb;
}
/*FONTS*/
.md{
  font-size:1.1em;
}
.xl{
  font-size:x-large;
}
p{
  font-size: large;
}


.general button{
    font-size:0.9em;
    background-color: transparent;
    border-radius:5px 5px;
    border:2px solid black;
    color:black;
    padding:0.7em 1em;
}
.general button:hover{
    background-color:black ;
    color:var(--white);
    transition-duration:0.4s;
}


/*Cover sections of all main pages-beside home*/
.cover-section{
  height:70vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  background-color: slategray;


}

.cover-text{
  display:flex;
  flex-direction:column;
  box-sizing: content-box;
  padding:10vw;
  font-size:larger;
  width:30em;
  gap:20px;
}

.cover-section-2{
    height:70vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  background-color: slategray ;

}
.cover-text-2{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:flex-start;
    padding:10vw;
    gap:20px;
}
 .cover-text-2 h1 {
        font-size:3em;

 }
 /*carousel things*/
    .carousel {
      position:relative;
      width: 85%;
      margin: 80px auto;
        overflow: visible; /* allow side slides to spill out */

    }

    .carousel div {
      padding: 5px;
    }

    .carousel img {
      width: 100%;
      width: 100%;
    height: 23em;          
}
  .carousel {
    position: relative;
    overflow: visible;
  }
  .carousel-item {
  margin:5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


  
.slick-dots{
  bottom:-15px !important;
  font-size:0px !important;
}
.slick-dots li button:before {
  font-size: 20px; 
  opacity: 0.5;
  color: grey;
}
.slick-dots li.slick-active button:before {
  color: #000;    /* active dot color */
  opacity: 1;
}
.custom-prev, .custom-next {
  font-size: 40px;
  color: var(--navy_color);
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.custom-prev {
  left: -40px;
}
.custom-next {
  right: -40px;
}
.services-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:5em;
  color:black;
  }



.services-overlay{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--white); /* White text for contrast */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    opacity: 1;
    transition: opacity 0.3s ease;
    padding: 1.5em;
    box-sizing: border-box;
    pointer-events: none; 
}

/* Title is always visible */
.service-title {
  font-size: 2em;
  margin: 0.5em;
  transform: translateY(0);
  transition: transform 0.6s ease, opacity 0.6s ease;
  z-index: 1;
}

/* Description hidden by default */
.service-description {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
  font-size: 1.1em;
}

/* Hover behavior: apply on item */
.carousel-item:hover .service-title {
  transform: translateY(-70px);
}

.carousel-item:hover .service-description {
  opacity: 1;
  transform: translateY(-50px);
}

.carousel-item {
    height:min-content;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  
}

.carousel-item:hover .services-overlay {
background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 90%);
  opacity: 1;
}

 @media screen and (max-width: 970px ) {
    
   .cover-text{
    font-size:medium;
    width:20em;
}
    .cover-text-2 h1 {
        font-size:2.5em;

 }
    .cover-section{
    height:55vh;

 } 
 .cover-section-2{
    height:55vh;
 }
}
  @media screen and (max-width: 725px) {
    .cover-section{
    padding-top:10vw;
   }
   
   .cover-text{
    width:90vw;
    padding:3vw!important;
    padding-top:10vw !important;
    font-size:smaller;
    
}
    .cover-section-2{
    justify-content:flex-end;
   }
   .cover-text-2{
    padding-left:3vw;
   }
   .cover-text-2 h1 {
        font-size:2em;

 }
  }