@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@500&display=swap');


:root{
  --navy_color:#394974;
  --hover_color:#71707D;
  --background_color:rgb(181, 181, 181);
}

body{ /*not related to navbar but sitewise code to ensure consistency*/
  background-color: var(--background_color);
}



@font-face {
   font-family: serif;
   src: url(BodoniFLF-Bold.ttf);
}

*{
  margin:0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}


.navbar{
 width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.6s ease;  transform: translateY(0);
  z-index: 10000;
}

    .navbar.hide {
    transform: translateY(-100%);
    transition: transform 0.6s ease;
    }



.logo-img {
    width: 150px;
    height: 100px;
}

.pages ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;

}

.pages a:hover{
  color: var(--hover_color);
}


.pages a {
  color:var(--navy_color);
  font-size: 22px;
  font-family: 'Cormorant Infant', serif;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(14, 23, 39, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}



.overlay .closebtn {
  position: absolute;
  top: 1.25em;
  right: 2.8em;
  font-size: 3.75em;
}

@media screen and (min-width: 901px) { /*just to be safe dropdown wont open on deskop layout */
  .dropdown {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  div.pages {
    display: none;
  }
.dropdown:hover .dropdown-content {     
  display: block ;
  float:right;
}

  .openbtn div{
  height: 4px;
  background-color: var(--navy_color);
  margin: 0.3em 0;
  border-radius: 1.6em;
  transition: 0.3s;
  }

}

.openbtn{
  width: 1.87em;
  display: block;
  margin: 1em;
}

.one{
  width: 1.87em;
}

.two{
  width: 1.25em;
}

.three{
width: 1.56em;
}

.openbtn:hover div{
  width: 1.87em;
}

.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display:none;
  right:0;
  position: absolute;
  background-color: var(--background_color);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-left:1em;
}
.dropdown-content ul{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  padding:0;
}
.dropdown-content a {
  font-size: 1.5em;
  color: var(--navy_color);
  text-decoration: none;
  width:10em;
  display: block;
}

.dropdown-content a:hover {
    color:var(--hover_color);
}

