

a:visited {
  color: inherit; /* or any color you want */
}
body {
  overflow-x: hidden;
  background-color: var(--background_color);
  width: 100%;
  height: 100%;
  display:flex;
  margin:0;
  flex-direction: column;
 justify-content: space-between;

}
.herosec{
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  height:100vh;
  width:100vw;
  background-image: url(../photos/skyline-large.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-content{
  color:var(--white);
  font-size:x-large;
  flex-wrap:wrap;
  padding:3em;
  gap:20px; 
  display: flex;
  flex-direction: column;
  text-align: flex-start;
}
.hero-buttons{
  display: flex;
  flex-direction: row;
  gap:10px;
  
}
.hero-buttons button{
  font-size:medium;
  border-color:var(--white);
  color:var(--white);

}
.hero-buttons button:hover{
  background-color:var(--white);
  color:black;


}

.hero-content a {
  color:inherit;
}
.firstsec{
  background-color:#d4d0c9;
  display: flex;
  flex-direction:column;
  text-align:center;
  align-items: center;
  position: relative;
   width: 100%;
  margin:0 auto;
}


.image-container {
  position: relative;
  height:100vh;
  width:100%;
  overflow:hidden;
}
  .first-img{
    height: 100vh;
    width: 100%;
    display: flex;
    position:relative;
    margin-top: 0;
    object-fit: fill;
    max-width: 100%;
    max-height: 100%;
    top:0px;
    object-fit: cover;
  }
.about-text-container{
  position:absolute;
  width:inherit;
  bottom:0;
  height:100vh;
  width: 60em;
  left:0;
  z-index:100;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top:2em;
}

.slick-dotted.slick-slider {
  margin-bottom:0;
}
.about-sec{
   display: flex;
   position: relative;
  flex-direction:column;
  text-align:center;
  align-items: center;
  height:100vh;
  
}
 

.about-wrapper{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: start;
      gap:20px;
      flex: 0 0 50%;
      max-width:50%;
      padding:0 3em;
      margin-left:2em;

}
.about-wrapper h1{
  font-size: 3em;
}

  
  .abtbtn {
    background-color: transparent;
    color: black;
    font-size: 1em;
    border-radius:15px;
    cursor: pointer;
    width:auto;
  }

  .secondsec{
    display: flex;
    flex-direction:column;
    text-align:center;
    position: relative;
    width:100%;
  }
  .container2{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:0;
    background-image: url(file:///C:/Users/user/Desktop/NGC/photos/landscape.jpg);
    background-position: center;
    background-size:cover;
    width:100%;
    max-width: 100%;
    }

  .text-container2{
    width:100%;
    display: flex;
    position:relative;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
   flex-direction: column;
    background-color:var(--navy_color);
    align-self: flex-end;
  }
  .overlay-text2{
    margin:10em;
    padding-bottom:2em;
    max-width:50em;
    display:flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
    position:relative;
    gap:20px;
  }

  .overlay-text2 h1 {
    font-size: 2.25em;
  }

  .overlay-text2 p {
    min-width:30em;
    line-height: 1.6;
    
  }
  

/*project slideshow */



.your-class{
  margin-bottom:10em !important;
  background-color:var(--white);
  margin-top:-5em;
  max-width:70em;
  row-gap:10em;

}
.projects-gallery{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  padding:4em;


}

.projectpic{
  width:30em;
  height:20em;
}
.projects-text{
  margin-right:3em;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  width:20em;
  gap:10px;
  text-align:left;
}
.projects-text-2{
  display:flex;
  padding-top:2em;
  flex-direction:row;
  gap:20px;
  justify-content:center;
  align-items:center;
}
.projects-text-2-sub{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.projects-text a:hover {
    color: var(--navy_color);
}

.swipe {
    font-size: 2em;
    position:-webkit-sticky;
    color: black;
}
.slick-dots {
  bottom:20px !important;
}


.slick-prev, .slick-next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: lighter;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.your-class .custom-prev{
  left:15px;

}
.your-class .custom-next {
  right:15px;
}
/* Remove default dot icon */
.slick-dots li button:before {
  display: none !important;
}

/* All dots (default inactive state) */
.custom-dot {
cursor: pointer;
  
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.1s ease;
}
.slick-dots button.custom-dot {
  height: 4px;
  width: 4px;
  background-color:#bbb;
}
/* Active dot (selected slide) */
.slick-dots li.slick-active button.custom-dot {
  background-color: #717171;
}




.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.1s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/*clients-sec*/
.clients-sec{
  margin:2em 0;
  padding-top:2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;

}
.clients-sec-title{
  align-self:center;
}
.autoplay{
  width:100vw;
  padding:0 10vw;
      background-color: var(--navy_color);

}
.autoplay-item{

  margin: 1em 0;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap:20px;
  justify-content: center;
  height:13em;
  padding: 1em;
  max-width:252px;
  
}



.autoplay-item img{
    height:8em;
  width:100%;
  object-fit: fill;

}

/* Responsive styling for smaller screens */
@media (max-width: 1200px) {
    
      .text-container{
    
    width:50em;
    height:100%;
    
}

.about-wrapper{

      margin-left:2em;

}
.about-wrapper h1{
  font-size: 2.5em;
}
  
  .your-class{
    width:45em;
    flex-direction: column;
    align-items:center;
    
    }
     .your-class div{
    display: flex;
    justify-content: center;
  }
  
  .swipe{
    display:none;
  }
   .projects-text {
    padding-left:3em;
    width:80vw;
    max-width:35em;
    text-align: left;
  }
  .projects-text-2{
    align-items: center;
  }
  .projectpic{
    padding:0;
    margin-top:2em;
  }
  .projects-gallery{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin:0;
    gap:20px;
    padding:2em;
    padding-bottom:4em;
  }
 .slick-dots {
  padding-top:2em !important;
  bottom:10px !important;
}
 
}


@media (max-width: 770px) {
  
    .firstsec{
      display:flex;
      flex-direction: column-reverse;
    }
    
    .image-container{
  height: auto;

}
.first-img{
  height: auto;
}
    .about-text-container{
      justify-content: flex-start;
        align-items: flex-start;
          width:100vw;
          height:100%;
      position:relative;
      height:auto;
       

    }
    
    
.about-wrapper{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: start;
      gap:20px;
      flex:0 0 100%;
      max-width: 100%;
      padding:2em;
      margin-left:0;

}
.about-wrapper h1{
  font-size: 2em;
}
  
 
  .your-class{
    overflow: hide;
    width:auto;
    background-color: var(--white);
    width: 90vw;

  }
 

  
.projects-gallery {
  margin: 0 auto;
  height:100%;
  box-sizing: border-box;
  overflow: hidden; /* THIS hides any slick overflow */
  flex-direction: column;
  gap: 2em;
  padding: 3em; /* optional for spacing */
  padding-left:0em;
  padding-right:0em;

  }

  .projectpic {
    width:75vw;
    height:15em;
  }

  .projects-text {
    padding-left:2em;
    width:80vw;
    font-size: medium;
    text-align: left;
  }

  .your-class .custom-prev,
  .your-class .custom-next {
    display: none !important;
  }
}


  



/* on phones and smaller screens */
  @media screen and (max-width: 1200px) {
   
    .overlay-text2 {
      width: 60%;
      margin:5em; 
      text-align: center; 
    
    }

    .overlay-text2 h1{
      font-size:1.7em;
    }
    .overlay-text2 p{
      margin: 0;
    }



  }



@media screen and (max-width: 600px){
    .hero-content{
      padding:3em 1em;
    }
     .overlay-text2 h1{
       font-size:1.7em;
       width:90vw;
     }
     .overlay-text2 p{
      min-width:10em;
       width:90vw;
     }
     .market-gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
        gap: 1em; /* Smaller gap */
    }

    .market-item {
        width: 100%;
        padding: 1em;
      }
    .market-item h3 {
        font-size: 1.2em;
    }

    .market-item p {
        font-size: 0.8em;
    }
    .ninth {
    grid-column: span 2;
  }
  .projects-container{
    padding: 3em 1.5em;
  }
   .carousel-item img{
  height:13em;
 }
 .services-overlay{
  font-size:small;
 }
    }

.services-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:5em;
  color:black;
  }



.services-overlay{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--white); /* White text for contrast */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    opacity: 1;
    transition: opacity 0.3s ease;
    padding: 1.5em;
    box-sizing: border-box;
    pointer-events: none; 
}

/* Title is always visible */
.service-title {
  font-size: 2em;
  margin: 0.5em;
  transform: translateY(0);
  transition: transform 0.6s ease, opacity 0.6s ease;
  z-index: 1;
}

/* Description hidden by default */
.service-description {
  opacity: 0;
  height:2em;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
  font-size: 1.1em;
  padding-left:1em;
}
.carousel{
  margin:0;
  margin-top:30px;
  width:80vw;
  width:100%;
}
/* Hover behavior: apply on item */
.carousel-item:hover .service-title {
  transform: translateY(-70px);
}

.carousel-item:hover .service-description {
  opacity: 1;
  transform: translateY(-50px);
}

.carousel-item {
  height:min-content;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  max-width:50em;
  
}

.custom-prev{
  left:15px;

}
.custom-next {
  right:15px;
}

.carousel-item:hover .services-overlay {
background: linear-gradient(to top, rgba(0, 0, 0, 0.715), transparent 90%);
  opacity: 1;
}

.markets-btn{
  display: block;
    border:  solid black;
    border-radius: 15px;
  border-color: black;
  border-style:solid;
  padding: 10px;
}




@media screen and (max-width: 970px ) {
    
   .cover-text{
    font-size:medium;
    width:20em;
}
    .cover-text-2 h1 {
        font-size:2.5em;

 }
    .cover-section{
  height:55vh;
 } 
 .cover-section-2{
    height:55vh;
 }

}
@media screen and (max-width: 725px) {
   
    .cover-section{
    padding-top:10vw;
    justify-content: flex-start;
   }
   
   .cover-text{
    width:90vw;
    padding:3vw!important;
    padding-top:10vw !important;
    
}
    .cover-section-2{
    justify-content:flex-end;
   }
   .cover-text-2{
    padding-left:3vw;
   }
   .cover-text-2 h1 {
        font-size:2em;

 }


 
}
