body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */

  /* Full height */
height: 50%;
width:100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-container {
  width: 30%;
  height:20%;
  margin: auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* 3 slides */
}

.slide {
  width: 30%;
  flex-shrink: 0;
}
