    .card-actions {
      position: absolute;
      z-index: 1;
      align-self: flex-end;
      background-color: var(--white);
      bottom: 10px;
      right: 10px;
      display: flex;
      gap: 20px;
      padding: 5px 10px;
      border-radius: 8px;
      font-size: 1.2em;
    }

    .card-actions i {
      cursor: pointer;
    }

    .add-card {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--white);
      color: #333;
      cursor: pointer;
    }

    .add-card:hover {
      background-color: var(--accent);
    }
