.admin-sec{
    display:flex;
    flex-direction: column;
    margin: 5em 0;
    padding:0 10%;
    align-items: center;
}
.admin-main{
    align-self:center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:80px;

    width:100%;
}
.admin-menu{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
    gap: 50px 20%;

}
.admin-menu-part{
    padding:3em;
    gap:20px;
    flex:0 0 40%;
    max-width:40%;
    background-color: antiquewhite;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height:15em;
}
button{
    background-color: var(--white);
}