            a{
          color:inherit;
        }
        a:hover{
          color:var(--navy_color);
        }
       
        .featured {
            color: var(--accent);
            text-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
        }
    .card-actions {
      position: absolute;
      z-index: 1;
      align-self: flex-end;
      background-color: var(--white);
      bottom: 10px;
      right: 10px;
      display: flex;
      gap: 20px;
      padding: 5px 10px;
      border-radius: 8px;
      font-size: 1.2em;
    }

    .card-actions i {
      cursor: pointer;
      font-size:1.2em;
    }

    .add-card {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--white);
      color: #333;
      cursor: pointer;
    }

    .add-card:hover {
      background-color: var(--accent);
    }
