body{    
    background-color: var(--background_color);
}
#add-projects h1{
    font-size: 2em;
}
#add-projects{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    padding:3em;
    gap:20px;
}
label{
    font-size:large;
}
textarea{
    background-color: var(--white);
}
input{
    background-color:var(--white);
}
.edit-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-header{
    display: flex;
    flex-direction: row;   
    
}
.project-header span{
   width:13em;
}
.project-row{
        display: flex;
    flex-direction: row;
    justify-content: center;
}
input{
    width:15em;
}