<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Add Project</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/add_project.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/projects-sub.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

</head>
<body>
  <main>
    <form action="/admin/projects/new" method="POST" enctype="multipart/form-data">
      <h1>Add New Project</h1>

      <label for="title">Project Title</label>
      <input type="text"  name="title" required>

      <label for="subtitle">Subtitle</label>
      <input type="text" name="subtitle">

      <label for="description">Description</label>
      <textarea name="description" rows="8"></textarea>

      <label for="service">Service</label>
      <input type="text" name="service">

      <label for="market">Market</label>
      <input type="text" name="market">

      <label for="location">Location</label>
      <input type="text" name="location">

      <label for="client">Client</label>
      <input type="text" name="client">

      <label for="collaboration">Collaboration</label>
      <input type="text" name="collaboration">

      <label for="date">Project Date</label>
      <input type="date" name="date">

      <label for="completion_date">Completion Date</label>
      <input type="date" name="completion_date">

      <label for="cover_image">Cover Image</label>
      <input type="file" name="cover_image" id="cover_image" accept="image/*">

      <label for="feature"> Feature Project
  <input type="checkbox" id="feature" name="feature" value="true">
        </label>
      <button type="submit">Add Project</button>
    </form>
  </main>

</body>
</html>
