<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_projects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">


</head>
<body>
  <main class="cards-section">
    <div class="cards-container">
      <div class="cards-grid">

        <!-- Add New Project Card -->
        <div class="card-item add-card" onclick="window.location.href='/admin/projects/new'">
          <span>＋<br>Add Project</span>
        </div>

        <!-- Dynamic Project Cards -->
        {% for project in projects %}
          <div class="card-item admin">
            <div class="card-visual" style="background-image: url('{{ project.image_url }}');"></div>
            <div class="card-subtext">
              {% if project.market and project.service %}
                <h5>{{ project.market }} <strong> • </strong> {{ project.service }}</h5>
              {% elif project.market %}
                <h5>{{ project.market }}</h5>
              {% elif project.service %}
                <h5>{{ project.service }}</h5>
              {% else %}
                <h5></h5>
              {% endif %}
              <h2 style="text-transform: capitalize ;">{{ project.title or '' }}</h2>
        {% if project.date %}
        <h6 class="project-date">{{ project.date.strftime('%d %B %Y') }}</h6>
        {% endif %}
            </div>

            <!-- Edit / Delete Icons -->
            <div class="card-actions">
            <i onclick="window.location.href='/admin/projects/{{ project.id }}'">✏️</i>
              <i onclick="deleteProject('{{ project.id }}')">🗑</i>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </main>

  <script>
    function deleteProject(id) {
      if (confirm("Are you sure you want to delete this project?")) {
        fetch(`/admin/projects/${id}/delete`, {
          method: 'POST'
        }).then(() => {
          location.reload();
        });
      }
    }
  </script>
</body>
</html>
