<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Slick Carousel Local Styles -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick-theme.css') }}">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Roboto+Condensed:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/markets.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">





    <title>new-GC</title>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

  </head>
  <body>

    <!-- Header Section -->
    <section class="header">
        <nav class="navbar">
            <div class="logo">
                <a href="{{url_for ('home')}}">
                    <img src="{{ url_for('static', filename='photos/logo.jpg') }}" alt="Logo" class="logo-img">
                </a>
            </div>
            <div class="pages">
                <ul>
                          <li><a href="{{ url_for ('about') }}">About Us</a></li>
                          <li><a href="{{ url_for('markets') }}">Markets & Services</a></li>
                          <li><a href="{{ url_for('show_projects') }}">Projects</a></li>
                          <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <div class="menu">
                    <div id="myNav" class="overlay">
                        <a href="javascript:void(0)" class="closebtn">&times;</a>
                    </div>
                    <div>
                        <a href="javascript:void(0)" class="openbtn">
                            <div class="one"></div>
                            <div class="two"></div>
                            <div class="three"></div>
                        </a>
                    </div>
                    <div class="dropdown-content">
                        <ul>
                          <li><a href="{{url_for ('home')}}">Home</a></li>
                          <li><a href="{{ url_for ('about') }}">About Us</a></li>
                          <li><a href="{{ url_for('markets') }}">Markets & Services</a></li>
                          <li><a href="{{ url_for('show_projects') }}">Projects</a></li>
                          <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </section>

      <main>
        <section class="cover-section-2">
          <div class="cover-text-2">
              <h1>MARKETS & SERVICES</h1>
          </div>
        </section>

        <section class="markets-sec">
            <div class="MS-img">
              <img src="{{ url_for('static', filename='photos/skyline-large.jpg') }}" >
            </div>
            <div class="MS-box">
              <h1>Our Markets</h1>
            <p>From designing entire cities to delivering nuclear power stations and transforming manufacturing systems, we focus our business in the areas that have the most impact on the way we all live and the resources we demand from the planet. 
              </p>
            </div>
             <div class="markets-main">
            
            <div class="markets-vertical-panel">
            
              <ul>
                <li data-slide-2="0" class="active"><a href="javascript:void(0)">Master Planning</a></li>
                <li data-slide-2="1"><a href="javascript:void(0)">Landscape</a></li>
                <li data-slide-2="2"><a href="javascript:void(0)">Buildings</a></li>
                <li data-slide-2="3"><a href="javascript:void(0)">Infrastructure</a></li>
                <li data-slide-2="4"><a href="javascript:void(0)">Industrial</a></li>
                <li data-slide-2="5"><a href="javascript:void(0)">Geotechical</a></li>
                <li data-slide-2="6"><a href="javascript:void(0)">Environmental</a></li>


            
              </ul>

            </div>
            <div class='markets-carousel'>
              <div class="market-info ">
                <div class="market-info-item" >
                  <img src="{{ url_for('static', filename='photos/buildings.jpg') }}">
                </div>
                <div  class="market-info-sub general " >

                    <h1>Master Planning</h1>
                    <p>short description -can include subpages</p>
                    <!--direct the button to a 'filtered' project page-->
                    <button onclick="window.location.href='{{url_for ('show_projects')}}'">Relevant Projects</button> 
                </div>    
                          
              </div>
             <div class="market-info ">
                <div class="market-info-item" >
                  <img src="{{ url_for('static', filename='photos/landscape.jpg') }}">
                </div>
                <div class="market-info-sub general " >

                    <h1>Landscape</h1>
                    <p>short description -can include subpages</p>
                    <!--direct the button to a 'filtered' project page-->
                    <button onclick="window.location.href='{{url_for ('show_projects')}}'">Relevant Projects</button> 
                </div>    
                          
              </div>
             <div  class="market-info ">
                <div class="market-info-item" >
                  <img src="{{ url_for('static', filename='photos/buildings.jpg') }}">
                </div>
                <div class="market-info-sub general " >

                    <h1>Buildings</h1>
                    <p>short description -can include subpages</p>
                    <!--direct the button to a 'filtered' project page-->
                    <button onclick="window.location.href='{{url_for ('show_projects')}}'">Relevant Projects</button> 
                </div>    
                          
              </div>
            <div  class="market-info ">
                <div class="market-info-item" >
                  <img src="{{ url_for('static', filename='photos/buildings.jpg') }}">
                </div>
                <div class="market-info-sub general " >

                    <h1>Infrastructure</h1>
                    <p>short description -can include subpages</p>
                    <!--direct the button to a 'filtered' project page-->
                    <button onclick="window.location.href='{{url_for ('show_projects')}}'">Relevant Projects</button> 
                </div>    
                          
              </div>
              <div  class="market-info ">
                <div class="market-info-item" >
                  <img src="{{ url_for('static', filename='photos/buildings.jpg') }}">
                </div>
                <div class="market-info-sub general " >

                    <h1>Industrial</h1>
                    <p>short description -can include subpages</p>
                    <!--direct the button to a 'filtered' project page-->
                    <button onclick="window.location.href='{{url_for ('show_projects')}}'">Relevant Projects</button> 
                </div>    
                          
              </div>
              <div  class="market-info ">
                <div class="market-info-item" >
                  <img src="{{ url_for('static', filename='photos/buildings.jpg') }}">
                </div>
                <div class="market-info-sub general " >

                    <h1>Geotechical</h1>
                    <p>short description -can include subpages</p>
                    <!--direct the button to a 'filtered' project page-->
                    <button onclick="window.location.href='{{url_for ('show_projects')}}'">Relevant Projects</button> 
                </div>    
                          
              </div>
              <div  class="market-info ">
                <div class="market-info-item" >
                  <img src="{{ url_for('static', filename='photos/buildings.jpg') }}">
                </div>
                <div class="market-info-sub general " >

                    <h1>Environmental</h1>
                    <p>short description -can include subpages</p>
                    <!--direct the button to a 'filtered' project page-->
                    <button onclick="window.location.href='{{url_for ('show_projects')}}'">Relevant Projects</button> 
                </div>    
                          
              </div>
              
              </div>
              
        
              
        </section>
        <section class="services-sec">
          <div class="MS-img">           
            <img src="{{ url_for('static', filename='photos/skyline.jpg') }}" >
          </div>
          <div class="MS-box">
            <h1>Our Services</h1>
            <p>From designing entire cities to delivering nuclear power stations and transforming manufacturing systems, we focus our business in the areas that have the most impact on the way we all live and the resources we demand from the planet. 
              </p>
          </div>
          <div class="services-main">
            
            <div class="vertical-panel">
            
              <ul>
                <li  data-slide="0" class="active" ><a href="javascript:void(0)">Technical and Surveying</a></li>
                <li  data-slide="1" ><a href="javascript:void(0)">Design</a></li>
                <li  data-slide="2"><a href="javascript:void(0)">Project Management</a></li>

              </ul>

            </div>
            <div class='services-carousel'>
              <div  class="service-info ">
                <div class="service-info-sub general">
                    <h1>Technical and Surveying</h1>
                    <p>When we started to think about identifying ourselves and to find our true nature, we found that we are different individuals.</p>
                    <!--direct the button to a 'filtered' project page-->
                    <button onclick="window.location.href='{{url_for ('show_projects')}}'">Relevant Projects</button> 
                </div>
                <div class="featured-project">
                  <div class="FP-gallery">     
                            <div class="FP-pic-container">
                                            <img src="{{ url_for('static', filename='photos/masterplanning.jpg') }}" alt="market 1" class="FP-pic">
                            </div>
                            <div class="FP-text">
                                            <p>SERVICE</p>                                     
                                            <h1>Saudi Arabia, Red Sea Project</h1>
                                            <br>
                                            <p>
                                              short description of the featured project
                                            </p>
                                            <!--direct the href to the subpage of the project-->
                                            <h4><a href="{{url_for ('show_projects')}}">Read More   ❯</a></h4>
                            </div>

                          
                  </div>
              </div>

              
              </div>
              <div class="service-info ">
                <div class="service-info-sub general">
                    <h1>Design</h1>
                    <p>short description -can include subpages</p>
                    <!--direct the button to a 'filtered' project page-->
                    <button onclick="window.location.href='{{url_for ('show_projects')}}'">Relevant Projects</button> 
                </div>
                <div class="featured-project">
                  <div class="FP-gallery">     
                            <div class="FP-pic-container">
                                            <img src="{{ url_for('static', filename='photos/landscape.jpg') }}" alt="market 1" class="FP-pic">
                            </div>
                            <div class="FP-text">
                                            <p>SERVICE</p>                                     
                                            <h1>Saudi Arabia, Red Sea Project</h1>
                                            <br>
                                            <p>
                                            short description                                          
                                            </p>
                                            <!--direct the href to the subpage of the project-->
                                            <h4><a href="{{url_for ('show_projects')}}">Read More   ❯</a></h4>
                            </div>

                          
                  </div>
              </div>

              
              </div>
              <div class="service-info ">
                <div class="service-info-sub general">
                    <h1>Project-Management</h1>
                    <p>short description -can include subpages</p>
                    <!--direct the button to a 'filtered' project page-->
                    <button onclick="window.location.href='{{url_for ('show_projects')}}'">Relevant Projects</button> 
                </div>
                <div class="featured-project">
                  <div class="FP-gallery">     
                            <div class="FP-pic-container">
                                            <img src="{{ url_for('static', filename='photos/buildings.jpg') }}" alt="market 1" class="FP-pic">
                            </div>
                            <div class="FP-text">
                                            <p>SERVICE</p>                                     
                                            <h1>Saudi Arabia, Red Sea Project</h1>
                                            <br>
                                            <p>
                                              short description                                          
                                            </p>
                                            <!--direct the href to the subpage of the project-->
                                            <h4><a href="{{url_for ('show_projects')}}">Read More   ❯</a></h4>
                            </div>

                          
                  </div>
              </div>

              
              </div>
            
              
             
              
              
    
          </div>
        </section>

      </main>
    <footer class="footer-container">
      <div class="footer">
        <div class="bottom-logo">
          <a href="{{url_for ('home')}}">
            <img src="{{ url_for('static', filename='photos/logo.jpg') }}" alt="logo" class="logo-img">
          </a>
        </div>

      <div class="footer-content">
          <div class="footer-links">
          <div class="quick-links">
            <h4>Quick Links</h4>
            <ul>
                    <li><a href="{{ url_for ('home')}}">Home</a></li>
                    <li><a href="{{ url_for ('about') }}">About Us</a></li>
                    <li><a href="{{ url_for('markets') }}">Markets & Services</a></li>
                    <li><a href="{{ url_for('show_projects') }}">Projects</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
            </ul>
        </div>
        <div class="services-links">
            <h4>Services </h4>
            <ul>
              <li><a href="markets.html#Service-1" >Technical and Surveying  </a></li>
              <li><a href="markets.html#Service-2" >Design</a></li>
              <li><a href="markets.html#Service-3" >Project Management</a></li>

            </ul>
        </div>
      </div>
          <div class="contact">
              <h4>Contact Us</h4>
              <ul>
                <a href="https://maps.app.goo.gl/1jGEXui9ujNKSs346" target="_blank"><li>New Gulf Consult, Cairo, Egypt</li></a>
                <li><strong>Tel:</strong> <a  href="tel:+20123456789" target="_blank">+20 123 456 789</a></li>
                <li><strong>Email:</strong><a href="mailto:info@ngc.com" target="_blank">info@ngc.com</a> </li>
              </ul>
          </div>
          
        </div>
        <div class="footer-bottom">
          <p>&copy; 2025 New Gulf Consult. All rights reserved.</p>
        </div>

      </div>
    </footer>

    </body>
    <!-- jQuery + Slick JS from CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>




    <script> 
    
       document.querySelectorAll('.vertical-panel li').forEach(el => {
  el.addEventListener('click', function () {
    const slideIndex = parseInt(this.getAttribute('data-slide'));
    $('.services-carousel').slick('slickGoTo', slideIndex);

    // Manage active state
    document.querySelectorAll('.vertical-panel li').forEach(item => item.classList.remove('active'));
    this.classList.add('active');
  });
});
      $(document).ready(function () {
        $('.services-carousel').slick({
          dots: false,
          arrows: false,
          draggable: false,
          swipe: false,
          infinite: false,
          speed: 0, //no sliding effect
          slidesToShow: 1,
          adaptiveHeight: true
        });

        $('[data-slide]').on('click', function () {
          const slideIndex = parseInt($(this).data('slide'));
          $('.services-carousel').slick('slickGoTo', slideIndex);
        });
});



    </script>
    
<script> 
    
       document.querySelectorAll('.markets-vertical-panel li').forEach(el => {
  el.addEventListener('click', function () {
    const slideIndex = parseInt(this.getAttribute('data-slide-2'));
    $('.markets-carousel').slick('slickGoTo', slideIndex);

    // Manage active state
    document.querySelectorAll('.markets-vertical-panel li').forEach(item => item.classList.remove('active'));
    this.classList.add('active');
  });
});
      $(document).ready(function () {
        $('.markets-carousel').slick({
          dots: false,
          arrows: false,
          draggable: false,
          swipe: false,
          infinite: false,
          speed: 0, //no sliding effect
          slidesToShow: 1,
          adaptiveHeight: true
        });

        $('[data-slide-2]').on('click', function () {
          const slideIndex = parseInt($(this).data('slide'));
          $('.markets-carousel').slick('slickGoTo', slideIndex);
        });
});



    </script>


<script> 
//navbar functions
document.addEventListener('DOMContentLoaded', () => {
    let lastScrollTop = 0;
    const navbar = document.querySelector('.navbar');

    const navbarHeight = navbar.offsetHeight;

    window.addEventListener('scroll', () => {
        let scrollTop = window.scrollY || document.documentElement.scrollTop;
        if (scrollTop > navbarHeight) {
            if (scrollTop > lastScrollTop) {
                // Scrolling down
                navbar.classList.add('hide');
                navbar.style.backgroundColor = '#9dadb9';
            } else {
                // Scrolling up
                navbar.classList.remove('hide');


            }
        }

        if (scrollTop === 0) {
            navbar.style.backgroundColor = 'transparent';
        }

        lastScrollTop = scrollTop;
    });
  });


</script>
  